# Django Settings
SECRET_KEY=_kq%$1v06y5vj%7a=@4m@0()*mkn3(dyni%3@9d5vkup+ggb_g
DEBUG=False
ALLOWED_HOSTS=dolabb-backend-2vsj.onrender.com
DJANGO_SETTINGS_MODULE=dolabb_backend.settings_production

# MongoDB Connection String
# Format: mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority
MONGODB_CONNECTION_STRING=your_mongodb_connection_string_here

# JWT Secret Key
JWT_SECRET_KEY=&bfztgn^+&j78ufa00(5vcv+z)ykg4bhym)ef@jg9q#z7464!%

# Email Configuration (Resend)
RESEND_API_KEY=re_h7DXEMec_PXna1zyChxx7W5GLHLCe9QLJ
RESEND_FROM_EMAIL=no-reply@dolabb.com
OTP_EXPIRY_SECONDS=300

# Moyasar Payment Gateway
MOYASAR_SECRET_KEY=your_moyasar_secret_key_here
MOYASAR_PUBLISHABLE_KEY=your_moyasar_publishable_key_here
MOYASAR_PAYOUT_API_URL=https://api.moyasar.com/v1/payouts
MOYASAR_PAYOUT_SOURCE_ID=your_moyasar_payout_source_id_here

# Redis Configuration (Upstash Redis)
# Use full Redis URL for Upstash
REDIS_URL=rediss://default:AZfOAAIncDJlYzkzNTZmZTlkMGM0N2MzOTc3ZjYwMTJmYTI5ZjRlNXAyMzg4NjI@smart-grackle-38862.upstash.io:6379

# Upstash Redis REST API (Optional - for REST API access)
UPSTASH_REDIS_REST_URL=https://smart-grackle-38862.upstash.io
UPSTASH_REDIS_REST_TOKEN=AZfOAAIncDJlYzkzNTZmZTlkMGM0N2MzOTc3ZjYwMTJmYTI5ZjRlNXAyMzg4NjI

# CORS Allowed Origins (comma-separated)
CORS_ALLOWED_ORIGINS=http://68.178.161.175,https://68.178.161.175

# Pagination
PAGE_DEFAULT_LIMIT=10

