# Django Settings
SECRET_KEY=_kq%$1v06y5vj%7a=@4m@0()*mkn3(dyni%3@9d5vkup+ggb_g
DEBUG=False
ALLOWED_HOSTS=dolabb-backend.onrender.com
DJANGO_SETTINGS_MODULE=dolabb_backend.settings_production

# MongoDB Connection String
# Format: mongodb+srv://username:password@cluster.mongodb.net/database_name?retryWrites=true&w=majority
MONGODB_CONNECTION_STRING=your_mongodb_connection_string_here

# JWT Secret Key
JWT_SECRET_KEY=&bfztgn^+&j78ufa00(5vcv+z)ykg4bhym)ef@jg9q#z7464!%

# Email Configuration (Resend)
RESEND_API_KEY=your_resend_api_key_here
RESEND_FROM_EMAIL=noreply@yourdomain.com
OTP_EXPIRY_SECONDS=300

# Moyasar Payment Gateway
MOYASAR_SECRET_KEY=your_moyasar_secret_key_here
MOYASAR_PUBLISHABLE_KEY=your_moyasar_publishable_key_here

# Redis Configuration (Upstash Redis)
# Use full Redis URL for Upstash
REDIS_URL=rediss://default:AWi-AAIncDIzYjhjMWRhMzg1MmU0MjIwYmRjMzY4MGM3OTQ1NTNiYXAyMjY4MTQ@communal-wombat-26814.upstash.io:6379

# Upstash Redis REST API (Optional - for REST API access)
UPSTASH_REDIS_REST_URL=https://communal-wombat-26814.upstash.io
UPSTASH_REDIS_REST_TOKEN=AWi-AAIncDIzYjhjMWRhMzg1MmU0MjIwYmRjMzY4MGM3OTQ1NTNiYXAyMjY4MTQ

# CORS Allowed Origins (comma-separated)
CORS_ALLOWED_ORIGINS=http://68.178.161.175,https://68.178.161.175

# Pagination
PAGE_DEFAULT_LIMIT=10

